.input-block {
    display: inline-block;
    background: rgba(0,0,0,0.75);
    padding: 0.5em;
    border-left: 0.75em solid red;
    margin: 0.5em;

    color: #FFFFFF;
    font-family: sans-serif;
}

.input-block > header > p {
    display: block;
    margin: 0em 0em;
    border-bottom: 0.1em solid #BBBBBB;
}


.input-block > label {
    display: block;
}

.input-block > span.unit {
    user-select: none;
}

.link-block {
    display: inline-block;
    background: rgba(0,0,0,0.75);
    padding: 0.5em;
    margin: 0.5em;

    color: #FFFFFF;
    font-family: sans-serif;
    text-decoration: none;

    transition: background-color 0.5s;
}


.link-block:hover {
    background: rgba(155,0,0,0.75);
}
